.card-img-top {
  width: 100%;
  height: 15vw;
  min-height: 250px;
  object-fit: cover;
}

.card-title {
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: break-all;
  overflow:hidden;
  white-space: nowrap;  
}

.card-title:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}

.card {
  margin-bottom: 10%;
}

.badge {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 20px!important;
}

.imgDiv {
  position: relative;
}

.card-shadow {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.384);
}

.list-group {
  border-radius: 0!important;
  border-left: 0;
  border-right: 0;
}

#sendBtn {
  font-size: 15px;
  width: 100%;
}

#rate {
  padding-left: 2px;
}